@import "~@progress/kendo-theme-default/scss/gantt/_layout.scss";

@include exports("gantt/layout/material") {

    .k-gantt {}


    // Header and footer
    .k-gantt-toolbar {}


    // View switcher
    .k-gantt-views {}


    //Timeline
    .k-gantt-timeline {

        .k-header {
            font-weight: 700;
        }
        .k-rtl & {

            .k-header {
                border-width: 0 $grid-cell-vertical-border-width 1px 0;
            }
        }
    }

    // Treelist
    .k-gantt-treelist {}


    // Milestone
    .k-milestone-wrap {}
    .k-task-milestone {}


    // Summary
    .k-summary-wrap {}
    .k-task-summary {}
    .k-task-summary-complete {}
    .k-task-summary-progress {
        height: 15px;
        overflow: hidden;
    }


    // Single task
    .k-single-wrap {}
    .k-task-single {
        border-width: 0;
    }
    .k-task-template {
        padding: $button-padding-y-sm $button-padding-x-sm;
        line-height: $button-line-height;
    }

}
